<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<% include head %>
<link href="https://fonts.googleapis.com/css?family=Schoolbell" rel="stylesheet">
</head>
<body>

<div class="nav"></div>


<div class="tooltip-container">
	<div class="tooltip"></div>
</div>

<div class="expenses-container">
	<div class="expenses-desc-container">
		<div class="box32 expenses-desc-header">
			<div class="button text-uppercase"><div class="box32 square"><i class="material-icons less"></i></div>Description</div>
		</div>
		<div class="expenses-desc">
			User name is an IP address: <span class="user-name"></span>.<br>
			This is just a sample app to play with Node.js and Express using MongoDB and EJS as view engine.<br>
			Written with Vanilla JS<i class="material-icons" style="vertical-align:top;line-height:24px;">sentiment_very_satisfied</i> and jQuery on client side.
			Charts generated with D3.js.
			Responsive web design.<br> 
			Optimistic UI.<br> 
			Deployed on AWS.<br>
			Note: This is just a very simple example plenty of room for improvement.
		</div>
	</div>
	<div class="expenses-form-container">
		<div class="expenses-form">
			<div class="expenses-form-header">
				<div class="box48 square button" data-action="menu"><i class="material-icons">menu</i></div>
				<div class="box48 text-uppercase">Expense app</div>
				<div class="box48 square right button" data-action="delete-all"><i class="material-icons">delete_outline</i></div>
			</div>
			<div class="bottom-shadow"></div>
			<div class="main">

			</div>
				<div class="top-shadow"></div>
				<div class="total">
					<div class="box48 square"><i class="material-icons">euro_symbol</i></div><div class="box48 text-uppercase total-text">Total</div>
					<div class="right"><div class="box48 total-sum">&nbsp;</div><div class="box48 square">&euro;</div></div>
					
					<div class="box48 square button round add-receipt"><i class="material-icons">add</i></div>
				</div>			
		</div>
	</div>
</div>

<div class="dropdown-container" data-action="group">
	<div class="dropdown" data-action="group" data-id=''>
		<% for (i in group_list) { %>
		<div class="dropdown-li" data-id="<%=group_list[i].id%>" data-icon="<%=group_list[i].icon%>" data-name="<%=group_list[i].name%>">
			<div class="box32 square"><i class="material-icons"><%=group_list[i].icon%></i></div>
			<div class="box32"><%=group_list[i].name%></div>
		</div>
		<% } %>	
	</div>
</div>

<div class="dropdown-container" data-action="menu">
	<div class="dropdown" data-action="menu">
		<% for (i in menu) { %>
		<div class="dropdown-li" data-name="<%=menu[i].name%>" data-icon="<%=menu[i].icon%>">
			<div class="box32 square"><i class="material-icons"><%=menu[i].icon%></i></div>
			<div class="box32"><%=menu[i].name%></div>
		</div>
		<% } %>	
	</div>
</div>

<div class="dropdown-container" data-action="chart">
	<div class="dropdown" data-action="chart">
		<% for (i in charts) { %>
		<div class="dropdown-li" data-name="<%=charts[i].name%>" data-icon="<%=charts[i].icon%>">
			<div class="box32 square"><i class="material-icons"><%=charts[i].icon%></i></div>
			<div class="box32"><%=charts[i].name%></div>
		</div>
		<% } %>	
	</div>
</div>

<div class="dropdown-container" data-action="rightclick">
<div class="dropdown" data-action='rightclick' data-id=''>
	<% for (i in rightclick) { %>
	<div data-id="<%=rightclick[i].id%>">
		<div class="box32 square"><i class="material-icons"><%=rightclick[i].icon%></i></div>
		<div class="box32"><%=rightclick[i].name%></div>
	</div>
	<% } %>	
</div>
</div>


<template data-template="receipt">
	<div class="receipt" data-id="">
		<div class="receipt-header">
			<div class="button expense-group">
				<div class="box32 square expense-group-icon"></div>
				<div class="box32 text-uppercase expense-group-name"></div>
			</div>			
			<div class="box32 square button right add-expense"><i class="material-icons">add</i></div>
		</div>
		<div class="expense-input">
		</div>
		<div class="receipt-bottom">
			<div class="box32 square"><i class="material-icons font18">euro_symbol</i></div><div class="box32 text-uppercase">Total</div>
			<div class="right"><div class="box32 receipt-total">&nbsp;</div><div class="box32 square">&euro;</div></div>
		</div>
	</div>
</template>

<template data-template="expense" data-id="">
	<div class="expense">
		<div class="expense-input-text"><input></div>
		<div class="expense-input-sum"><input><div class="right input-symbol">&euro;</div></div>
	</div>
</template> 

<template data-template="chart">
	<div class="receipt" data-action="chart">
		<div class="receipt-header">
			<div class="button">
				<div class="box32 square expense-group-icon"><i class="material-icons">bubble_chart</i></div>
				<div class="box32 text-uppercase expense-group-name">chart</div>
			</div>			
			<div class="box32 square button right chart-type"><i class="material-icons">settings</i></div>
		</div>
		<div class="chart">
			<svg></svg>
		</div>
	</div>
	<div class="receipt" data-action="legend">
		<div class="receipt-header">
			<div class="button">
				<div class="box32 square expense-group-icon"><i class="material-icons">label</i></div>
				<div class="box32 text-uppercase expense-group-name">legend</div>
			</div>			
			<div class="box32 square button right">&nbsp;</div>
		</div>
		<div class="chart-legend">
			<% for (i in group_list) { %>
				<div class="chart-legend-item">
					<div class="chart-legend-col1">
						<div class="box32 square"><i class="material-icons" style="color:<%=group_list[i].color%>;"><%=group_list[i].icon%></i></div>
						<div class="box32"><%=group_list[i].name%></div>
					</div>
					<div class="chart-legend-col2">
						<div class="box32 square chart-color" style="background-color:<%=group_list[i].color%>;">&nbsp;</div>
					</div>
				</div>
			<% } %>
		</div>
	</div>
</template>


<script src="/js/expenses.js"></script>
<script src="/js/chart.js"></script>
</body>