
body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: rgba(0,0,0,0.8);
	background-color: #eeeeee;
}

.nav {
	height: 32px;
}

a {
	color: inherit;
	text-decoration: inherit;
}
a:hover {
	color: rgba(0,0,0,1);
}

.user-name {
	font-family: 'Gaegu', cursive;
	font-size: 28px;
}

.material-icons {
	color: rgba(0,0,0,0.54);
}

/*tooltip*/
.tooltip-container {
	visibility: hidden;
	position: absolute;
	width: auto;
	height: 24px;
	top: 0;
	border: 1px solid rgba(0,0,0,0.3);
	z-index: 10;
}
.tooltip {
	display: flex;
	height: 100%;
	line-height: 24px;
	font-size: 12px;
	padding: 0 6px;
	color: rgba(255,255,255,1);
	background-color: rgba(0,0,0,0.54);
}


/*dropdown*/
.dropdown-container {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,1);
	border: 1px solid rgba(0,0,0,0.1);
	z-index: 10;
}
.dropdown {
	display: flex;
	flex-flow: column;
	padding: 12px 0;
}
.dropdown > div {
	line-height: 32px;
	padding: 0 32px 0 0;
	cursor: pointer;
}
.dropdown > div:hover {
	background-color: rgba(0,0,0,0.1);
}
.dropdown .material-icons {
	//color: rgba(0,0,0,0.54);
}
.dropdown > div:hover .material-icons {
	color: rgba(0,0,0,1);
}

/*input*/
input {
	width: calc(100% - 4*6px);
	height: 32px;
	line-height: 32px;
	outline: none;
	padding: 0 6px;
	margin: 0 6px;
	border: 1px solid rgba(0,0,0,0.1);
	transition: border-color 500ms ease-out; 
}
input:focus {
	border-color: rgba(0,0,0,0.3);
}

/*button*/
.button {
	display: inline-block;
	cursor: pointer;
	color: rgba(0,0,0,0.54);
	user-select: none;
}
.button:hover .material-icons, .button:hover .text-uppercase  {
	color: rgba(0,0,0,1);
}
.button.round {
	position: absolute;
	bottom: calc(48px + 3px);
	right: 16px;
	border-radius: 50%;
	background-color: #66bb6a;
	opacity: 0.9;
	border: 1px solid #66bb6a;
}


.right {
	position: absolute;
	top: 0;
	right: 0;
}

.svg-text {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: lighter;
	//fill: rgba(0,0,0,0.8);
}

.text-uppercase {
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: 600;
	color: rgba(0,0,0,0.54);
}

/*boxes*/
.box48 {
	display: inline-block;
	height: 48px;
	text-align: center;
	//border: 1px solid red;
}
.box48.square {
	width: 48px;
}
.box48 .material-icons {
	line-height: 48px;
	vertical-align: top;
}
/*.box48.padding {
	padding: 0 6px;
}*/

.box32 {
	display: inline-block;
	height: 32px;
	line-height: 32px;
	text-align: center;
	//border: 1px solid red;
}
.box32.square {
	width: 32px;
}
.box32 .material-icons {
	line-height: 32px;
	vertical-align: top;
}

.box24 {
	display: inline-block;
	height: 24px;
	text-align: center;
	//border: 1px solid red;
}
.box24.square {
	width: 24px;
}
.box24 .material-icons {
	line-height: 24px;
	vertical-align: top;
}


.font18 {
	font-size: 18px;
}

/*expenses*/
.expenses-container {
	display: flex;
	width: 100%;
}

.expenses-desc-container {
	min-height: 48px;
}
.expenses-desc-header {
	width: 100%;
	margin: 0 auto;
}

.material-icons.less:after {
	content: 'unfold_less';
}
.material-icons.more:after {
	content: 'unfold_more';
}
.expenses-desc {
	margin: 0 auto;
	font-size: 18px;
}
.expenses-form {
	height: 570px;
	margin: 0 auto;
	display: flex;
	flex-flow: column;
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	background-color: #eceff1;
}

@media (min-width: 300px) and (max-width: 1199px) {
	.nav {
		height: 0;
	}
	.expenses-container {
		flex-flow: column;
	}
	.expenses-desc-container {
		width: 100%;
	}
	.expenses-form-container {
		width: 100%;
	}
	.expenses-chart-container {
		width: 100%;
	} 
	.expenses-form {
		width: 100%;
	} 
	.expense-input-text {
		width: 80%;
	}
	.expense-input-sum {
		width: 20%;
	}
	.expenses-desc {
		display: none;
	}
	.material-icons.less:after {
		content: 'unfold_more';
	}
	.material-icons.more:after {
		content: 'unfold_less';
	}	
}

@media (min-width: 768px) and (max-width: 1199px) {
	.expenses-form {
		width: 400px;
	} 

}

@media (min-width: 1200px){
	.expenses-desc-container {
		width: 30%;
	}
	.expenses-form-container {
		width: 35%;
	}
	.expenses-chart-container {
		width: 35%;
	} 
	.expenses-form {
		width: 400px;
	} 
	.expense-input-text {
		width: 85%;
	}
	.expense-input-sum {
		width: 15%;
	}
}


.expenses-form-header {
	position: relative;
	height: 48px;
	line-height: 48px;
	background-color: #fff;
	//border: 1px solid red;
}
.bottom-shadow {
	height: 4px;
	background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.001));
}
.top-shadow {
	height: 1px;
	background: linear-gradient(rgba(0,0,0,0.001), rgba(0,0,0,0.3));
}

.expenses-form .main {
	position: relative;
	height: 500px;
	//border: 1px solid rgba(0,0,0,0.3);
	overflow-y: auto;
}
.expenses-form .total {
	font-size: 18px;
	position: relative;
	height: 48px;
	line-height: 48px;
	background-color: #fff;
	//border: 1px solid red;
	//border: 1px solid rgba(0,0,0,0.3);
}

.receipt {
	display: flex;
	flex-flow: column;
	min-height: 100px;
	margin: 12px 6px;
	box-shadow:0 0 6px rgba(0, 0, 0, 0.5);
	background-color: #fff;
}
.receipt:last-child {
	margin-bottom: 48px;
}
.receipt-header, .receipt-bottom {
	position: relative;
	height: 32px;
	line-height: 32px;
	//border: 1px solid red;
}

.receipt-bottom {
	margin-top: auto;
}

.expense {
	display: flex;
	line-height: 32px;
	margin: 6px 0;
}

.expense-input-text {
	width: 70%;
}

.expense-input-sum {
	position: relative;
	width: 30%;
}

.right.input-symbol {
	top: 2px;
	height: calc(32px - 2px);
	right: 8px;
	background-color: #fff;
}


/*charts*/
svg {
	width: 100%;
	height: 100%;
}
.chart-legend {
	margin: 6px 0;
}
.chart-legend-item {
	display: flex;
	margin: 6px 0;
}

.chart-legend-col1 {
	flex: 90%;
}
.chart-legend-col2 {
	flex: 10%;
}

